	<header class="toadstool_header">
		<h1>form</h1>
	</header>
	
	<%= partial :"forms/text_input" %>
	
	<%= partial :"forms/username_input" %>
	
	<%= partial :"forms/password_input" %>
	
	<%= partial :"forms/primary_button" %>
	
	<%= partial :"forms/disabled_button" %>
	


	<footer class="toadstool_footer"></footer>
