<header class="toadstool_header">
	<h1>typography</h1>
</header>

<%= partial :"typography/general_typography" %>

<%= partial :"typography/web_fonts" %>

<%= partial :"typography/headings" %>

<%= partial :"typography/vertical_rhythm" %>

<%= partial :"typography/body_copy" %>

<%= partial :"typography/body_links" %>

<footer class="toadstool_footer"></footer>
