<header class="toadstool_header">
	<h1>typography</h1>
</header>

<%#= partial :"typography/general_typography" %>
<section id="generalTypography">
  <%= partial :'shared/_toadstool_subheader', :locals => {
:header => 'general typography', :text => "Toadstool's typograhy is mainly maintained via the <code>_config.scss</code> file. For more detailed information, see <a href='http://goo.gl/Hl8po' target='_blank'>Stipe's typography documentation.</a>"
} %>
  <%= html_example 'ui_patterns/typography/_body_copy'  %>
  <%= sass_example '_typography' %>
  <%= sass_example '_config' %>
</section>

<section id="headings">
  <%= partial :'shared/_toadstool_subheader', :locals => {
:header => 'headings', :text => "In Toadstool, presentation is 100% separated from content and markup, this goes for typography too. Heading styles are not beholden to heading tags, but applied via slient classes to the appropriate semantic markup or class as needed."
} %>
  <%= html_example 'ui_patterns/typography/_headings' %>
  <%#= sass_example '_typography' %>
  <%#= sass_example '_config' %>
</section>

<section id="ico-fonts">
  <%= partial :'shared/_toadstool_subheader', :locals => {
:header => 'ico fonts', :text => "These are icon fonts"
} %>
  <%= html_example 'ui_patterns/typography/_ico_fonts' %>
  <%= sass_example 'typography/_ico_fonts' %>
  <%#= sass_example '_config' %>
</section>

<footer class="toadstool_footer"></footer>
